@section styles
{
    <link rel="stylesheet" href="~/css/home.css" />
}
<header class="text-center">
    <h1>ルーレット</h1>
    <div class="signin-wrapper">
        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <button type="submit" class="signin" name="provider" value="Google" title="Log in using your account">
                <i class="fa fa-google"></i>
                <span>Sign In</span>
            </button>
        </form>
    </div>
</header>